In [1]:
import pandas as pd

In [2]:
# load raw text
train = open('covidnews-ner/dataset/train/train_text.txt', 'r').readlines()
valid = open('covidnews-ner/dataset/valid/valid_text.txt', 'r').readlines()
test = open('covidnews-ner/dataset/test/test_text.txt', 'r').readlines()
rest = open('covidnews-ner/dataset/rest/rest_text.txt', 'r').readlines()

# load BIO labels
lab_train = open('covidnews-ner/dataset/train/train_label_true.txt', 'r').readlines()
lab_valid = open('covidnews-ner/dataset/valid/valid_label_true.txt', 'r').readlines()
lab_test = open('covidnews-ner/dataset/test/test_label_true.txt', 'r').readlines()
# 'rest' has only distant labels

We want to format the data such that, for each subset, we have a dataframe where each row corresponds to a sequence.

In [3]:
data_train = pd.DataFrame({
    'sequences' : train,
    'labels' : lab_train}
)
data_valid = pd.DataFrame({
    'sequences' : valid,
    'labels' : lab_valid}
)
data_test = pd.DataFrame({
    'sequences' : test,
    'labels' : lab_test}
)
data_rest = pd.DataFrame({
    'sequences' : rest}
)

#### Preprocessing
* remove '\n'
* create column: sequence_tok, where sentence is split into tokens and turned into list
* create column: ner_BIO_full, where labels are split into tokens and turned into list

In [4]:
data_train['sequences'] = data_train['sequences'].apply(lambda x: x.strip('\n'))
data_valid['sequences'] = data_valid['sequences'].apply(lambda x: x.strip('\n'))
data_test['sequences'] = data_test['sequences'].apply(lambda x: x.strip('\n'))
data_rest['sequences'] = data_rest['sequences'].apply(lambda x: x.strip('\n'))

In [5]:
data_train['sequence_tok'] = data_train['sequences'].apply(lambda x: x.split())
data_valid['sequence_tok'] = data_valid['sequences'].apply(lambda x: x.split())
data_test['sequence_tok'] = data_test['sequences'].apply(lambda x: x.split())
data_rest['sequence_tok'] = data_rest['sequences'].apply(lambda x: x.split())

In [6]:
data_train['ner_BIO_full'] = data_train['labels'].apply(lambda x: x.split())
data_valid['ner_BIO_full'] = data_valid['labels'].apply(lambda x: x.split())
data_test['ner_BIO_full'] = data_test['labels'].apply(lambda x: x.split())

In [7]:
data_train['ner_BIO_full'][0]

['B-location',
 'O',
 'B-organization',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-person',
 'I-person',
 'I-person',
 'O',
 'B-disease',
 'O',
 'B-disease',
 'B-location',
 'O',
 'B-location',
 'I-location',
 'I-location',
 'I-location',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O']

In [37]:
data_train.head()

,sequences,labels,sequence_tok,ner_BIO_full
0,Jakarta ( ANTARA ) - as many as 419 confirmed ...,B-location O B-organization O O O O O B-person...,"[Jakarta, (, ANTARA, ), -, as, many, as, 419, ...","[B-location, O, B-organization, O, O, O, O, O,..."
1,Australian Associated Press Qld lashes NSW gov...,B-organization I-organization I-organization O...,"[Australian, Associated, Press, Qld, lashes, N...","[B-organization, I-organization, I-organizatio..."
2,The city also closed its sights and asked all ...,O O O O O O O O O B-person O O O O O O O O O O...,"[The, city, also, closed, its, sights, and, as...","[O, O, O, O, O, O, O, O, O, B-person, O, O, O,..."
3,We suspect that the sudden rise in cases could...,O O O O O O O O O O O O O O O O O O O O O O B-...,"[We, suspect, that, the, sudden, rise, in, cas...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
4,Noel Lyn Smith covers the Navajo Nation for Th...,B-person I-person I-person O O B-organization ...,"[Noel, Lyn, Smith, covers, the, Navajo, Nation...","[B-person, I-person, I-person, O, O, B-organiz..."

In [38]:
# export data
data_train.to_csv('../data/COVIDNEWS/data_train.csv')
data_valid.to_csv('../data/COVIDNEWS/data_valid.csv')
data_test.to_csv('../data/COVIDNEWS/data_test.csv')
data_rest.to_csv('../data/COVIDNEWS/data_rest.csv')