In [5]:
import pandas as pd
import os

In [6]:
os.getcwd()

'/Users/johann/Documents/Uni/ITSP/utils'

In [29]:
types = open(os.path.join('../data', 'COVIDNEWS', 'types.txt'), 'r').readlines()

In [26]:
types

['person\n',
 'location\n',
 'organization\n',
 'time\n',
 'disease\n',
 'virus\n',
 'product\n',
 'animal\n',
 'symptom\n',
 'bacterium\n']

In [7]:
# load raw text
train = open('../data/raw/covidnews-ner/dataset/train/train_text.txt', 'r').readlines()
valid = open('../data/raw/covidnews-ner/dataset/valid/valid_text.txt', 'r').readlines()
test = open('../data/raw/covidnews-ner/dataset/test/test_text.txt', 'r').readlines()
rest = open('../data/raw/covidnews-ner/dataset/rest/rest_text.txt', 'r').readlines()

# load BIO labels
lab_train = open('../data/raw/covidnews-ner/dataset/train/train_label_true.txt', 'r').readlines()
lab_valid = open('../data/raw/covidnews-ner/dataset/valid/valid_label_true.txt', 'r').readlines()
lab_test = open('../data/raw/covidnews-ner/dataset/test/test_label_true.txt', 'r').readlines()
# 'rest' has only distant labels

We want to format the data such that, for each subset, we have a dataframe where each row corresponds to a sequence.

In [14]:
data_train = pd.DataFrame({
    'sequence' : train,
    'labels' : lab_train}
)
data_valid = pd.DataFrame({
    'sequence' : valid,
    'labels' : lab_valid}
)
data_test = pd.DataFrame({
    'sequence' : test,
    'labels' : lab_test}
)
data_rest = pd.DataFrame({
    'sequence' : rest}
)

#### Preprocessing
* remove '\n'
* create column: sequence_tok, where sentence is split into tokens and turned into list
* create column: ner_BIO_full, where labels are split into tokens and turned into list

In [15]:
data_train['sequence'] = data_train['sequence'].apply(lambda x: x.strip('\n'))
data_valid['sequence'] = data_valid['sequence'].apply(lambda x: x.strip('\n'))
data_test['sequence'] = data_test['sequence'].apply(lambda x: x.strip('\n'))
data_rest['sequence'] = data_rest['sequence'].apply(lambda x: x.strip('\n'))

In [16]:
data_train['sequence_tok'] = data_train['sequence'].apply(lambda x: x.split())
data_valid['sequence_tok'] = data_valid['sequence'].apply(lambda x: x.split())
data_test['sequence_tok'] = data_test['sequence'].apply(lambda x: x.split())
data_rest['sequence_tok'] = data_rest['sequence'].apply(lambda x: x.split())

In [17]:
data_train['labels_tok'] = data_train['labels'].apply(lambda x: x.split())
data_valid['labels_tok'] = data_valid['labels'].apply(lambda x: x.split())
data_test['labels_tok'] = data_test['labels'].apply(lambda x: x.split())

In [18]:
data_train.head()

,sequence,labels,sequence_tok,labels_tok
0,Jakarta ( ANTARA ) - as many as 419 confirmed ...,B-location O B-organization O O O O O B-person...,"[Jakarta, (, ANTARA, ), -, as, many, as, 419, ...","[B-location, O, B-organization, O, O, O, O, O,..."
1,Australian Associated Press Qld lashes NSW gov...,B-organization I-organization I-organization O...,"[Australian, Associated, Press, Qld, lashes, N...","[B-organization, I-organization, I-organizatio..."
2,The city also closed its sights and asked all ...,O O O O O O O O O B-person O O O O O O O O O O...,"[The, city, also, closed, its, sights, and, as...","[O, O, O, O, O, O, O, O, O, B-person, O, O, O,..."
3,We suspect that the sudden rise in cases could...,O O O O O O O O O O O O O O O O O O O O O O B-...,"[We, suspect, that, the, sudden, rise, in, cas...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
4,Noel Lyn Smith covers the Navajo Nation for Th...,B-person I-person I-person O O B-organization ...,"[Noel, Lyn, Smith, covers, the, Navajo, Nation...","[B-person, I-person, I-person, O, O, B-organiz..."

In [20]:
# export data
# STRONG data
data_train.to_csv('../data/COVIDNEWS/__init/strong/data_train.csv')
data_valid.to_csv('../data/COVIDNEWS/__init/strong/data_valid.csv')
data_test.to_csv('../data/COVIDNEWS/__init/strong/data_test.csv')

# WEAK data
data_rest.to_csv('../data/COVIDNEWS/__init/weak/data_train.csv')