In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/johann/Documents/Uni/ITSP/utils'

In [3]:
data = pd.read_csv("../data/raw/wnut16_weak/twitter_user_data/data/gender_classifier_dfe_791531.csv")

In [4]:
# restrict to 10000 sequences
data = data.iloc[:10000, :]

In [5]:
data.head()

,unit_id,golden,unit_state,trusted_judgments,last_judgment_at,gender,gender_confidence,profile_yn,profile_yn_confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,2015-10-26T23:24:00,male,1.0000,True,1.0,2013-12-05T01:48:00,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,2015-10-26T12:40:00,658730000000000000,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,2015-10-26T23:30:00,male,1.0000,True,1.0,2012-10-01T13:51:00,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,���It felt like they were my friends and I was...,NaN,7471,2015-10-26T12:40:00,658730000000000000,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,2015-10-26T23:33:00,male,0.6625,True,1.0,2014-11-28T11:30:00,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,2015-10-26T12:40:00,658730000000000000,clcncl,Belgrade
3,815719229,False,finalized,3,2015-10-26T23:10:00,male,1.0000,True,1.0,2009-06-11T22:39:00,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,2015-10-26T12:40:00,658730000000000000,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,2015-10-27T01:15:00,female,1.0000,True,1.0,2014-04-16T13:23:00,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,2015-10-26T12:40:00,658730000000000000,NaN,NaN

In [6]:
data_train = pd.DataFrame({'sequence' : data['text']})

In [7]:
data_train['sequence_tok'] = data_train['sequence'].apply(lambda x: x.split(' '))

In [8]:
data_train.head()

,sequence,sequence_tok
0,Robbie E Responds To Critics After Win Against...,"[Robbie, E, Responds, To, Critics, After, Win,..."
1,���It felt like they were my friends and I was...,"[���It, felt, like, they, were, my, friends, a..."
2,i absolutely adore when louis starts the songs...,"[i, absolutely, adore, when, louis, starts, th..."
3,Hi @JordanSpieth - Looking at the url - do you...,"[Hi, @JordanSpieth, -, Looking, at, the, url, ..."
4,Watching Neighbours on Sky+ catching up with t...,"[Watching, Neighbours, on, Sky+, catching, up,..."

In [9]:
data_train.to_csv('../data/WNUT16/__init/weak/data_train.csv')