### Takes skweak output file and transforms it to data_train format with columns sequence, sequence_tok, labels, labels_tok

==> implemented in skweak_to_training_data.py

In [77]:
from io import open
import pandas as pd
from nltk.tokenize import word_tokenize

In [128]:
file_path = "../data/COVIDNEWS/dist_skweak/skweak_output.csv"

In [129]:
train = open(file_path, 'r').readlines()

In [143]:
def transform_sequences(labeled_sequences):
    sequences = []
    labels = []
    sequence_tok = []
    labels_tok = []

    for line in labeled_sequences:
        if line == '\n':
            sequences.append(sequence_tok)
            labels.append(labels_tok)
            sequence_tok = []
            labels_tok = []
        else:
            parts = line.strip().split('\t')
            if len(parts) == 2:
                token, label = parts
            else:
                token = parts[0]
                label = 'O'
            sequence_tok.append(token)
            labels_tok.append(label)

    df = pd.DataFrame({'sequence_tok': sequence_tok, 'labels_tok': labels_tok})

    return df

In [144]:
data_train = transform_sequences(train)

In [124]:
data_train['labels'] = data_train['labels_tok'].apply(lambda x: ' '.join(x))
data_train['sequence'] = data_train['sequence_tok'].apply(lambda x: ' '.join(x))

# reorder columns
data_train = data_train[['sequence', 'sequence_tok', 'labels', 'labels_tok']]

In [138]:
data_train

      sequence_tok labels_tok
0          Jakarta        GPE
1                (          O
2           ANTARA        ORG
3                )          O
4                -          O
...            ...        ...
56949            .          O
56950       TOPEKA        GPE
56951            ,          O
56952          Kan     PERSON
56953            .          O

[56954 rows x 2 columns]